body {
  
   
}
/* Set padding to keep content from hitting the edges */
.body-content {

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.CF{
    margin:-3%;;
    background-image:url(../image/BG.png);
    background-size:cover;
    padding-bottom:30%;
}
.d5{
    float:right;
    margin-right:-5%;
    margin-top:10%;
}
.pc{
    background-image:url(../image/BG.png);
    background-size:cover;
    padding-bottom:48.5%;
}
.cl1 {
    background-color: rgba(70, 93, 67, 0.70);
    box-shadow: 3px 0px 5px gray;
}
    .cl1 .control-label {
        color:white;
        font-weight:lighter;
        margin-top:1%;
    } 
    .cl1 .form-control {
      background-color:rgba(70, 93, 67, 0.70);
      border:none;
      color:white;
    }
    .navber{
        background-color:rgba(1, 1, 1, 0.75)
    }